@font-face {
  font-family: 'FuturaDemiC';
  src: url("FuturaDemiC.woff2") format("woff2"), url("FuturaDemiC.woff") format("woff"), url("FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'FuturaBookC';
  src: url("FuturaBookC.eot");
  src: url("FuturaBookC.eot?#iefix") format("embedded-opentype"), url("FuturaBookC.woff2") format("woff2"), url("FuturaBookC.woff") format("woff"), url("FuturaBookC.ttf") format("truetype"), url("FuturaBookC.svg#FuturaBookC") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'FuturaMediumC';
  src: url("FuturaMediumC.woff2") format("woff2"), url("FuturaMediumC.woff") format("woff"), url("FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("Futura-Normal.woff2") format("woff2"), url("Futura-Normal.woff") format("woff"), url("Futura-Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
