@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
@font-face {
  font-family: 'FuturaDemiC';
  src: url("FuturaDemiC.woff2") format("woff2"), url("FuturaDemiC.woff") format("woff"), url("FuturaDemiC.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'FuturaBookC';
  src: url("FuturaBookC.eot");
  src: url("FuturaBookC.eot?#iefix") format("embedded-opentype"), url("FuturaBookC.woff2") format("woff2"), url("FuturaBookC.woff") format("woff"), url("FuturaBookC.ttf") format("truetype"), url("FuturaBookC.svg#FuturaBookC") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'FuturaMediumC';
  src: url("FuturaMediumC.woff2") format("woff2"), url("FuturaMediumC.woff") format("woff"), url("FuturaMediumC.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  src: url("Futura-Normal.woff2") format("woff2"), url("Futura-Normal.woff") format("woff"), url("Futura-Normal.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

.header {
  padding-top: 25px;
  margin-bottom: 180px; }

.items__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.haeder__contacts .number {
  font-family: 'FuturaDemiC';
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  margin-bottom: 3px; }
  .haeder__contacts .number a {
    color: #000; }

.callme {
  font-family: 'FuturaBookC';
  font-size: 14px;
  line-height: 16px; }

.intro {
  margin-bottom: 130px; }

.box__intro {
  height: 100vh;
  background-image: url("../../img/intro/bg2.svg");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat; }

.intro__items {
  width: 600px; }

.title__intro h1 {
  font-family: FuturaDemiC;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 44px; }

.subtitle__items p {
  font-family: FuturaBookC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 55px;
  margin-bottom: 40px; }

.btn__buy {
  color: #fff;
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
  display: inline-block;
  width: 187px;
  height: 45px;
  background: #E83A4A;
  border-radius: 5px;
  margin-right: 8px; }

.btn__more {
  color: #E83A4A;
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  padding-top: 15px;
  display: inline-block;
  width: 187px;
  height: 45px;
  border: 1px solid #E83A4A;
  border-radius: 5px; }

.cat__dog {
  background-image: url("../../img/cats/Frame 4.svg");
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 190px; }

.cat__dog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.superpet-one {
  width: 480px; }

.title__superpet h3 {
  font-family: FuturaDemiC;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
  color: #252525;
  margin-top: 17px;
  margin-left: 10px;
  margin-bottom: 20px; }

.text__superpet span {
  font-family: FuturaBookC;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%; }

.food {
  margin-bottom: 100px; }

.box__food {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative; }

.img__food {
  position: absolute;
  top: -40px;
  right: 0; }

.food__header h2 {
  font-family: FuturaDemiC;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  color: #252525;
  margin-bottom: 20px; }

.text__food {
  margin-top: 10px;
  width: 440px;
  font-family: FuturaBookC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%; }

.food__item:not(:first-child) {
  margin-top: 30px; }

.reasons {
  height: 605px;
  width: 100%;
  position: relative;
  margin-bottom: 180px; }

.reasons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.reasons__header h3 {
  text-align: center;
  font-family: FuturaDemiC;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
  line-height: 44px;
  color: #252525;
  margin-bottom: 40px; }

.item-left {
  width: 320px;
  margin-bottom: 56px; }
  .item-left img {
    margin-bottom: 10px; }

.title__left p {
  color: #252525;
  font-family: 'FuturaDemiC';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 3px; }

.text__left span {
  font-family: 'FuturaBookC';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #252525; }

.arrow__top-right img {
  position: absolute;
  top: 26%;
  left: 34%; }

.arrow__middle-right img {
  position: absolute;
  top: 55%;
  left: 31%; }

.arrow__bottom-right img {
  position: absolute;
  top: 74%;
  left: 34%; }

.arrow__top-left img {
  position: absolute;
  top: 26%;
  left: 58%; }

.arrow__middle-left img {
  position: absolute;
  top: 55%;
  left: 58%; }

.arrow__bottom-left img {
  position: absolute;
  top: 74%;
  left: 58%; }

.feedback__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.feedback__items {
  text-align: center;
  width: 588px;
  height: 427px;
  background-image: url("../../img/feedback/Frame 9.svg");
  background-position: center;
  background-repeat: no-repeat; }

.feedback__numbers {
  margin-top: 170px;
  font-family: 'FuturaMediumC';
  font-weight: 500;
  font-size: 40px;
  color: #E83A4A;
  line-height: 140%; }
  .feedback__numbers span {
    font-family: 'FuturaDemiC';
    font-weight: 600;
    font-size: 160px;
    color: #E83A4A; }

.feedback__name {
  font-family: 'FuturaMediumC';
  font-weight: 500;
  font-size: 25px;
  color: #252525;
  margin-bottom: 20px; }

.feedback__text {
  font-family: FuturaBookC;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #252525;
  margin-bottom: 30px; }
