@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

/*--------------------*/
@font-face {
  font-family: 'Muller';
  src: url("MullerHeavy.woff2") format("woff2"), url("MullerHeavy.woff") format("woff"), url("MullerHeavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Muller';
  src: url("MullerLight.woff2") format("woff2"), url("MullerLight.woff") format("woff"), url("MullerLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Muller';
  src: url("MullerMedium.woff2") format("woff2"), url("MullerMedium.woff") format("woff"), url("MullerMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Muller';
  src: url("MullerBlack.woff2") format("woff2"), url("MullerBlack.woff") format("woff"), url("MullerBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Muller';
  src: url("MullerBold.woff2") format("woff2"), url("MullerBold.woff") format("woff"), url("MullerBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Muller';
  src: url("MullerExtraBold.woff2") format("woff2"), url("MullerExtraBold.woff") format("woff"), url("MullerExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Muller';
  src: url("MullerRegular.woff2") format("woff2"), url("MullerRegular.woff") format("woff"), url("MullerRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

body {
  background-color: #091113;
  font-family: 'Muller'; }

.wrapper {
  overflow: hidden; }

.intro {
  max-height: 83vh;
  overflow: hidden;
  position: relative;
  background-image: url("../../img/first/bg0000.png"); }

.intro:after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.63);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2; }

.video {
  position: relative;
  padding-bottom: 56.25%; }

.video__media {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0; }

.intro__content {
  margin-top: 150px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3; }

.container {
  max-width: 1170px;
  margin: 0 auto; }

.intro__title {
  color: #fff;
  text-transform: uppercase;
  font-family: 'Muller';
  font-weight: 800;
  font-size: 90px;
  line-height: 90px;
  text-align: center; }

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 12px 0px; }

.subtitle {
  margin-top: 15px;
  text-align: center; }
  .subtitle p {
    font-size: 16px;
    line-height: 16px;
    color: #fff; }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 140px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .social .social__network a {
    font-size: 14px;
    opacity: 0.8;
    display: inline-block;
    color: #fff;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear; }
    .social .social__network a:not(:first-child) {
      margin-left: 25px; }
  .social .social__network a:hover {
    color: #0BF8E9; }

.btn a {
  font-weight: 500;
  font-size: 14px;
  color: #fff; }

.btn .btn__portfolio {
  opacity: 1;
  padding: 20px 80px;
  background-color: #091113;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear; }
  .btn .btn__portfolio:hover {
    font-weight: 500;
    background-color: #fff;
    color: #091113; }
