.cat__dog{
	background-image: url('../../img/cats/Frame 4.svg');
	background-position: right;
	background-repeat: no-repeat;
	margin-bottom: 190px;
}

.cat__dog__items{
	display: flex;
	justify-content: space-between;
}

.superpet-one{
	width: 480px;
}

.title__superpet{
	h3{
		font-family: FuturaDemiC;
		font-style: normal;
		font-weight: 600;
		font-size: 30px;
		line-height: 140%;
		color: #252525;
		margin-top: 17px;
		margin-left: 10px;
		margin-bottom: 20px;
	}
}

.text__superpet{
	span{
		font-family: FuturaBookC;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 160%;
	}
}