.composition{
	height: 400px;
	position: relative;
	margin-bottom: 160px;
}

.composition__title{
	h3{
	width: 525px;
	font-weight: 700;
	font-size: 30px;
	line-height: 130%;
	margin-bottom: 40px;
	}
}

.composition__items{
	display: flex;
	justify-content: space-between;

}

.advantage-meat{
	display: flex;
	align-items: center;
	.meat{
	margin-left: 20px;
	padding-top: 32px;
	font-size: 18px;
	line-height: 140%;
	}
}

.advantage{
	display: flex;
	align-items: center;
	margin-bottom: 35px;
	span{
	width: 416px;
	margin-left: 20px;
	font-size: 18px;
	line-height: 140%;
	}
}


.cat{
	position: absolute;
	right: 130px;
	top: 0;
}


