.feedback__box{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.feedback__items{
	text-align: center;
	width: 588px;
	height: 427px;
	background-image: url("../../img/feedback/Frame 9.svg");
	background-position: center;;
	background-repeat: no-repeat;
}

.feedback__numbers{
	margin-top: 170px;
	font-family: 'FuturaMediumC';
	font-weight: 500;
	font-size: 40px;
	color: #E83A4A;
	line-height: 140%;
	span{
		font-family: 'FuturaDemiC';	
		font-weight: 600;
		font-size: 160px;
		color: #E83A4A;
	}
}

.feedback__name{
	font-family: 'FuturaMediumC';
	font-weight: 500;
	font-size: 25px;
	color: #252525;
	margin-bottom: 20px;
}

.feedback__text{
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #252525;
	margin-bottom: 30px;
}