.food{
	margin-bottom: 100px;
}
.box__food{
	display: flex;
	justify-content: space-between;
	position: relative;
}

.img__food{
	position: absolute;
	top: -40px;
	right: 0;
}


.food__header{
	h2{
		font-family: FuturaDemiC;
		font-style: normal;
		font-weight: 600;
		font-size: 35px;
		line-height: 44px;
		color: #252525;
		margin-bottom: 20px;
	}
}

.text__food{
	margin-top: 10px;
	width: 440px;
	font-family: FuturaBookC;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 140%;
}

.food__item:not(:first-child){
	margin-top: 30px;
}

.img__nature{

}
