.intro{
	margin-bottom: 130px;
}

.box__intro{
	height: 100vh;
	background-image: url('../../img/intro/bg2.svg');
	background-size: contain;
	background-position: right;
	background-repeat: no-repeat;
}

.intro__items{
	width: 600px;
}

.title__intro{
	h1{
		font-family: FuturaDemiC;
		font-style: normal;
		font-weight: 600;
		font-size: 40px;
		line-height: 44px;
		
	}
}



.subtitle__items{
	p{
		font-family: FuturaBookC;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 55px;
		margin-bottom: 40px;
	}
}

.btn__buy{
	color: #fff;
	font-family: 'FuturaDemiC';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
	display: inline-block;
	width: 187px;
	height: 45px;
	background: #E83A4A;
	border-radius: 5px;
	margin-right: 8px;
}

.btn__more{
	color: #E83A4A;
	font-family: 'FuturaDemiC';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	text-align: center;
	padding-top: 15px;
	display: inline-block;
	width: 187px;
	height: 45px;
	border: 1px solid #E83A4A;
	border-radius: 5px;
}