.reasons{
	height: 605px;
	width: 100%;
	position: relative;
	margin-bottom: 180px;
}

.reasons__items{
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.reasons__header{
	h3{
		text-align: center;
		font-family: FuturaDemiC;
		font-style: normal;
		font-weight: 600;
		font-size: 35px;
		line-height: 44px;
		color: #252525;
		margin-bottom: 40px;
	}
}
.item-left{
	width: 320px;
	margin-bottom: 56px;
	img{
	margin-bottom: 10px;
	}
}


.title__left{

	p{
		color: #252525;
		font-family: 'FuturaDemiC';
		font-style: normal;
		font-weight: 600;
		font-size: 18px;
		line-height: 140%;
		margin-bottom: 3px;
	}
}

.text__left{

	span{
		font-family: 'FuturaBookC';
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		line-height: 140%;
		color: #252525;
	}
}

.arrow__top-right{
	img{
		position: absolute;
		top: 26%;
		left: 34%;
	}
}

.arrow__middle-right{
	img{
		position: absolute;
		top: 55%;
		left: 31%;
	}
}

.arrow__bottom-right{
	img{
		position: absolute;
		top: 74%;
		left: 34%;
	}
}

.arrow__top-left{
	img{
		position: absolute;

		top: 26%;
		left: 58%;
	}
}

.arrow__middle-left{
	img{
		position: absolute;
		top: 55%;
		left: 58%;
	}
}

.arrow__bottom-left{
	img{
		position: absolute;
		top: 74%;
		left: 58%;
	}
}


