.stats{
	background-color: $blue;
	width: 100%;
	height: 230px;
	display: flex;
	align-items: center;
	margin-bottom: 150px;
	position: relative;

}
.stats__items{
	text-align: center;
	h4{
	color: #fff;
	font-weight: 700;
	font-size: 25px;
	line-height: 140%;
	margin-bottom: 8px;
	}
	p{
	color: #fff;
	font-weight: 400;
	font-size: 20px;
	line-height: 140%;
	}
}

.stat__btn-buy{
	margin-top: 30px;
	color: #fff;
	font-weight: 500;
	font-size: 12px;
	padding-top: 17px;
	
	display: inline-block;
	width: 187px;
	height: 45px;
	text-align: center;
	background: $maincolor;
	border-radius: 30px;
}

.steps__cats{
	& img:nth-child(1){
		position: absolute;
		bottom: -40px;
		left: 160px;
	}
	& img:nth-child(2){
		position: absolute;
		top: -35px;
		right: 160px;
	}
}